<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultant</title>
</head>
<body style="background-color:#B9B8FF;"></body>
<body>
    List of products with rating less than 2:
    <form action="http://127.0.0.1:5000/admin_consultant", method="POST" style="margin: auto; width: 220px; padding-top: 50px;">
        {% for user in data  %}
      {% for i in user %}
        {{i}} &emsp; &emsp;
       
      {% endfor %}  &emsp;&emsp; <br> 
    {% endfor %}
    
    
            <!-- ENTER PID TO REMOVE:
        <input type="text" id="pid"  name="pid", value="ENTER PID" required> <br>
        <input type="submit" value="Submit"> -->
      
      </form>
</body>
</html>