<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="css/bootstrap.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer</title>
</head>
<body style="background-color:#B9B8FF;"></body>
<body>
    Choose an option:
    <ul>
        
            <a href=" http://127.0.0.1:5000/customer/profile" style="margin: auto; width: 220px; padding-top: 50px;"> view profile </a>
            <br>
        
            <a href=" http://127.0.0.1:5000/customer/past_orders" style="margin: auto; width: 220px; padding-top: 50px;"> view orders </a>
            <br>
            <a href=" http://127.0.0.1:5000/customer/place_order" style="margin: auto; width: 220px; padding-top: 50px;"> place order </a>
            <br>
            <a href=" http://127.0.0.1:5000/customer/most_liked" style="margin: auto; width: 220px; padding-top: 50px;"> Most Liked Products </a>
            <br>
            <a href=" http://127.0.0.1:5000/logout" style="margin: auto; width: 220px; padding-top: 50px;"> Logout </a>
    </ul>
</body>
</html>