<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:#B9B8FF;"></body>
<body>
    
    this is first page
    <ul>
        
            <a href=" http://127.0.0.1:5000/login_page" style="margin: auto; width: 220px; padding-top: 50px;"> login as a customer </a>
        
        
            <a href=" http://127.0.0.1:5000/login_page_admin" style="margin: auto; width: 220px; padding-top: 50px;"> login as an admin </a>
        
    </ul>
</body>
</html>