<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:#B9B8FF;"></body>
<body>
    <form action="http://127.0.0.1:5000/login_page_admin", method="POST",style="margin: auto; width: 220px; padding-top: 50px;">
     
        <label for="fname">Username:</label><br>
        <input type="text" id="fname" name="fname"><br>
        <label for="password">password:</label><br>
        <input type="text" id="password" name="password"><br><br>
        <input type="submit" value="Submit">
      
      </form>
</body>
</html>