<!DOCTYPE html>
<html lang="en">
<head>
    <link href="css/bootstrap.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:#B9B8FF;"></body>
<body>
    <form action="http://127.0.0.1:5000/login_page", method="POST", style="margin: auto; width: 220px; padding-top: 50px;">
     
        <label style="font-size: 18px; padding-top: 20px;" for="fname">First name:</label><br>
        <input style="font-size: 18px;" type="text" id="fname" name="fname"><br>
        <label style="font-size: 18px; padding-top: 20px;" for="password">password:</label><br>
        <input style="font-size: 18px;" type="text" id="password" name="password"><br><br>
        <input style="font-size: 18px;" type="submit" value="Submit">
      
      </form>
</body>
</html>